* {
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 10px;
  background-color: rgb(177, 173, 173);
}

nav a:hover {
  height: 100%;
  background-color: rgb(205, 202, 202);
}

a {
  text-decoration: none;
  color: #10010e;
  font-weight: 500;
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  text-align: center;
  background-color: gray;
  margin: 0;
  padding: 10px 10 0px 10px;
  overflow: auto;
  color: white;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 5px;
}

p {
  font-size: 1.2em;
  color: rgb(110, 110, 110);
}

figcaption {
  font-size: 1.3em;
  color: rgb(86, 85, 85);
}

article {
  font-weight: 500;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

details {
  background-color: gainsboro;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  margin-top: 1rem;
  cursor: pointer;
}

summary {
  color: rgb(102, 99, 99);
}

article h3 {
  color: dimgrey;
  font-size: 1.5em;
  padding: 0;
}

article h2 {
  color: rgb(86, 85, 85);
  font-size: 2em;
  padding: 0;
}

img {
  width: 75%;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 5px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100%;
  background-color: azure;
  margin: 0;
  padding: 0;
}

address {
  margin: 15px;
}

dialog {
  border-radius: 5px;
  background-color: antiquewhite;
}

footer p {
  color: black;
  margin: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(220, 218, 218);
}
